* {
  box-sizing: border-box;
  background-color: whitesmoke;
  font-family: monospace;
}

a {
  text-decoration: none;
}

a:link,
a:hover,
a:visited {
  color: lightskyblue;
}

div h1 {
  font-weight: 10000;
  font-size: xxx-large;
}

body {
  padding: 0;
  margin: 0;
}

nav {
  margin-top: 2rem;
  text-align: center;
}

nav a {
  font-weight: bolder;
  margin-right: 20px;
  font-size: 2em;
}

main {
  padding-top: 1rem;
  padding-bottom: 1rem;
  max-width: 100%;
  text-align: left;
}

#container {
  display: flex;
  flex-direction: column;
  max-width: 58rem;
  margin-left: auto;
  margin-right: auto;
}

#content-wrapper {
  display: flex;
  flex-direction: row;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding-top: 25px;
}

#description {
  font-size: 15px;
}

#headshot {
  border: 2px solid lightskyblue;
  border-radius: 50%;
}

#footer {
  width: 100%;
  max-width: inherit;
  text-align: center;
  bottom: 0;
}

.category {
  font-size: 25px;
  margin-bottom: 20px;
}

.employer {
  margin-bottom: 0;
  font-size: 22px;
  font-weight: bold;
}

.role {
  margin-top: 0;
  font-size: 18px;
}

.period {
  font-size: 16px;
}

.job-descrip {
  font-size: 16px;
  margin-bottom: 20px;
}
